body {
  font-family: Arial, sans-serif;
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.app h1 {
  text-align: center;
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

.task-list {
  margin-top: 20px;
}

.sort-buttons{
  margin-top: 20px;
  margin-bottom: 10px;
}

.alignment{
  margin-right: 15px;
}

.sort-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s; 
}


.sort-button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.sort-button:active {
  background-color: #388e3c;
  transform: scale(0.98);
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.task-item:hover {
  background-color: #f1f1f1;
}

.task-item.completed {
  text-decoration: line-through;
  color: #999999;
}

.task-item button {
  background-color: transparent;
  border: none;
  color: #ff4d4d;
  font-size: 16px;
  cursor: pointer;
}

.task-item button:hover {
  color: #cc0000;
}

.notification {
  background-color: #ffeeba;
  color: #856404;
  padding: 10px;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}